{% extends "base.html" %}

{% block content %}
<h1>
    Add Your Time for Today's Puzzle
</h1>

<form role="form" method="POST">
    <div class="form-group">
        <label for="title">Time</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="69 or :69 or 0:69 works" required>
    </div>
    
    <div class="form-group">
        <label for="content">Comments</label>
        <textarea class="form-control" id="content" name="content" placeholder="Comments" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}