{% extends "base.html" %}

{% block content %}
<h2>
        {% if current_user_id == 0 or ywinnerid in c_user_follows %}
        {% if tiers > 1 %}
        Yesterday had a tie for first place... So nobody gets their name up here. 😱 
        {% else %}
        {% if streak != 0 %}
            {{ywinnername}} 
            {% if streak == 1 %}
            won yesterday.
            {% elif streak >= 7 %}
            keeps winning.  Someone step up!
            {% else %}
            won the last {{streak}} days.
            {% endif %}
            {% endif %}
        {% endif %}
        {% endif %}
        </h2>
<div class="container">
            <div class="row">
	<div class="col-md-6 col-md-offset-3">
        <form role="form" method="POST">
        <p class="input-group">
            <br><br>
            <h3 class="text-center">
                Post your time for today's mini:
            </h3>
            <br>
            <input type="text" class="form-control input-lg" id="title" name="title" placeholder="1:08, 68, :68 or 0:68 works" required>
            <div class="form-group">
                <br>
        <textarea class="form-control" id="content" name="content" placeholder="Comments/emoji" rows="3"></textarea>
        <p class="help-block"><small>Entries after <u><a href="http://www.nytimes.com/content/help/games/crosswords/crosswords.html#available">6pm on weekends and 10pm on weekdays </a></u>are recorded for the next day.</small></p>
    </div>
    
            <p class="text-center"><button type="submit" class="btn btn-primary btn-lg">Submit</button></p>
        </p>
        </form>
    </div>
</div>

{% if older %}
    <ul class="pager">
        <li class="previous" >
        <a href="{{ url_for('entries', selected_date = older) }}"> See yesterday's</a>
        </li>
    </ul>
{% endif %}

{% endblock %}