{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}

<h1>
    {% for entry in entries[-1:] %}
    {{ entry.datetime | dateformat("%b %-d, %Y") }}
    {% endfor %}
</h1>
</br>

{% for entry in entries %}
{{ macros.render_entry(entry) }}
{% endfor %}

<ul class="pager">
    {% if has_next %}
    <li class="previous" >
    <a href="{{ url_for('entries', page=page + 1) }}">&larr; Older</a>
    </li>
    {% endif %}
    {% if has_prev %}
    <li class="next">
    <a href="{{ url_for('entries', page=page - 1) }}">&rarr; Newer</a>
    </li>
    {% endif %}
</ul>
</br></br>
{% endblock %}