{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}


<h1>
    <b>
    {% if entries == [] %}
    No entries today.  <a href="{{ url_for('entries', older = older) }}"> Jump back to last day with entries?</a>
    {% else %}
    {% for entry in entries[-1:] %}
    {{ datedisplay }} 

    </b>
    </h1>
    <h3>
    {% if streak != 0 %}
        {{ywinnername}} 
        {% if streak == 1 %}
        won yesterday.
        {% else %}
        won the last {{streak}} days.
        {% endif %}
    {% endif %}
    {% endfor %}
    {% endif %}
    
    </h3>
    

</br>

{% for entry in entries %}
{% if current_user_id == None %}
{{ macros.render_entry(entry) }}
{% elif entry.author_id in c_user_follows %}
{{ macros.render_entry(entry) }}
{% endif %}
{% endfor %}


<ul class="pager">
    {% if has_next %}
    <li class="previous" >
    <a href="{{ url_for('entries', selected_date = older) }}"> Older</a>
    </li>
    {% endif %}
    {% if has_prev %}
    <li class="next">
    <a href="{{ url_for('entries', selected_date = newer) }}"> Newer</a>
    </li>
    {% endif %}
</ul>
</br></br>
{% endblock %}