{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}


<h2>
    {% if today == True and dateshowing == "old" %}
    Nobody has posted today... here is the last day with times posted:
    </h2>
    <h1>
    <b>
    {% if entries == [] %}
        No entries today.  <a href="{{ url_for('entries', older = older) }}"> Jump back to last day with entries?</a>
        {% else %}
        {% for entry in entries[-1:] %}
        {{ datedisplay }} 
        {% endfor %}
        {% endif %}
        </h1>
        </b>
        <h2>
        {% if current_user_id == 0 or ywinnerid in c_user_follows or current_user_%}
        {% if tiers |length > 1 %}
        Yesterday had a tie for first place... So nobody gets their name up here.
        {% else %}
        {% if streak != 0 %}
            {{ywinnername}} 
            {% if streak == 1 %}
            won yesterday.
            {% elif streak >= 7 %}
            keeps winning.  Someone step up!
            {% else %}
            won the last {{streak}} days.
            {% endif %}
            {% endif %}
        {% endif %}
        {% endif %}
        </h2>
        </br>
        {% for entry in entries %}
        {% if current_user_id == 0 %}
        {{ macros.render_entry(entry) }}
        {% elif entry.author_id in c_user_follows %}
        {{ macros.render_entry(entry) }}
        {% endif %}
        {% endfor %}
    
    <ul class="pager">
        {% if has_next %}
        <li class="previous" >
        <a href="{{ url_for('entries', selected_date = older) }}"> Older</a>
        </li>
        {% endif %}
        {% if has_prev %}
        <li class="next">
        <a href="{{ url_for('entries', selected_date = newer) }}"> Newer</a>
        </li>
        {% endif %}
    </ul>
    </br></br>
    
    {% elif today == True and current_user_id not in entry_authors and dateshowing != "old" %}
    
<h2><i>{{ quotes | random }}</i></h2>
</br><h2>You can't see today's times until you <b><a href="{{ url_for('add_entry_get') }}">post your time. ☕️✍🏽☕️ </b></a></h2>

    <ul class="pager">
        <li class="previous" >
        <a href="{{ url_for('entries', selected_date = older) }}"> See yesterday's</a>
        </li>
    </ul>
    </br></br>
    
    {% else %}
        <b>
        <h1>
        {% if entries == [] %}
        No entries today.  <a href="{{ url_for('entries', older = older) }}"> Jump back to last day with entries?</a>
        {% else %}
        {% for entry in entries[-1:] %}
        {{ datedisplay }} 
        {% endfor %}
        {% endif %}
        </b>
        </h1>
        <h2>
        {% if current_user_id == 0 or ywinnerid in c_user_follows %}
        {% if streak != 0 %}
            {{ywinnername}} 
            {% if streak == 1 %}
            won yesterday.
            {% elif streak >= 7 %}
            keeps winning.  Someone step up!
            {% else %}
            won the last {{streak}} days.
            {% endif %}
            {% endif %}
        {% endif %}
        </h2>
    </br>
    {% for entry in entries %}
    {% if current_user_id == 0 %}
    {{ macros.render_entry(entry) }}
    {% elif entry.author_id in c_user_follows %}
    {{ macros.render_entry(entry) }}
    {% endif %}
    {% endfor %}
    
    
    <ul class="pager">
        {% if has_next %}
        <li class="previous" >
        <a href="{{ url_for('entries', selected_date = older) }}"> Older</a>
        </li>
        {% endif %}
        {% if has_prev %}
        <li class="next">
        <a href="{{ url_for('entries', selected_date = newer) }}"> Newer</a>
        </li>
        {% endif %}
    </ul>
    </br></br>
    
    {% endif %}
{% endblock %}