{% extends "base.html" %}

{% block content %}
</br>
<form role="form" method="POST">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email address" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<h2></br>Forget your password? <b><a href="{{ url_for('pwresetrq_get')}}">Reset it here</a></b></h2>


{% endblock %}

