{% macro render_entry(entry) %}
<div class="row">
    <div class="col-sm-4 text-right metadata">
        <ul class="list-unstyled">
            <h2>
            <li>
                <a href="{{ url_for('user_get', id=entry.author.id) }}">{{ entry.author.name|default('unknown') }}  </a>
            </li>
            </h2>
        </ul>
    </div>
    <div class="col-md-10 text-left">
        <h3>
         <a href="{{ url_for( 'get_entry', id = entry.id)}}">
         {% if entry.title < 60 %}
         {{entry.title}}
         {% elif entry.title %60 < 10 %}
         {{ entry.title // 60 }}:0{{ entry.title %60 }}
         {% elif entry.title > 5999 %} 
         {{ entry.title //60 }}.{{ entry.title %6 }} minutes
         {% else %}
         {{ entry.title // 60 }}:{{ entry.title %60 }}
         {% endif %}
         </a>
        </h3>
        <p>
        {{ entry.content | markdown }}
        </p>
    </div>
</div>
{% endmacro %}

