{% macro render_entry(entry) %}
<div class="row">
    <div class="col-sm-2 text-right metadata">
        <ul class="list-unstyled">
            <h2>
            <li>
                {{ entry.author.name|default('unknown') }}   
                <!--{{ entry.datetime |default('unknown') }} -->   
            </li>
            </h2>
        </ul>
    </div>
    <div class="col-md-10">
        <h1>
         <a href="{{ url_for( 'get_entry', id = entry.id)}}"> {{ entry.title }} </a>
        </h1>
        <p>
        {{ entry.content | markdown }}
        </p>
    </div>
</div>
{% endmacro %}