{% extends "base.html" %}

{% block content %}
</br>
<h1>Hello, forgetful one... Change your password below:</h1>
<form role="form" method="POST">
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required autocomplete="off">
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Password again (to verify)" required autocomplete="off">
    </div>
    <button type="submit" class="btn btn-primary btn-md">Submit</button>
</form>

{% endblock %}
