{% extends "base.html" %}
{% block content %}
  <h1> {{ user.name }} 
  <ul class="list-group" id={{ user.name }}> 
  <form role="form" method="POST">
      <div class="container">
        <label>
        <button type="submit" class="btn btn-primary"> Follow {{ user.name }}?</button> 
        </label>
        </div>
        </form>
        </h1>
        
  {% if user %}
    <h2>
      Average daily rank= {{ average }}
      </br> </br>
      Average time = {{ avetime }} seconds
      </br></br>
      Best time = {{ besttime }} seconds
      </br></br>
      Worst time = {{ worsttime }} seconds</h2>
      
      {{ line_chart2.render()|safe }}
      {{ line_chart.render()|safe }}
    
  {% else %}
    <div class="alert alert-warning" role="alert">
      No results found!
    </div>
  </div>
  {% endif %}

{% endblock %}
