{% extends "base.html" %}
{% block content %}
  <h1> {{ user.name }} </h1>
  <form role="form" method="POST">
      <div class="btn-group">
        <label>
        {% if user.id not in c_user_follows or current_user_id == None %}
        <button type="submit" name="Follow" class="btn btn-primary btn-lg">Follow {{ user.name }}?</button> 
        <button type="button" class="btn btn-primary btn-lg disabled">Unfollow</button>
        {% else %}
        <button type="button" class="btn btn-primary btn-lg disabled">Follow {{ user.name }}?</button> 
        <button type="submit" name="Unfollow" class="btn btn-primary btn-lg">Unfollow</button>
        {% endif %}
        </label>
        </div>
        </form>
        
  {% if user %}
    <h2>
      Average daily rank= {{ average }}
      </br> </br>
      Average time = {{ avetime }} seconds
      </br></br>
      Best time = {{ besttime }} seconds
      </br></br>
      Worst time = {{ worsttime }} seconds
      </h2>
      
      {{ graph_of_rankings.render()|safe }}
      {{ graph_of_times.render()|safe }}
      
      {% if current_user_id == '10' %}
      {{user.email}}
      {% endif %}
  {% else %}
    <div class="alert alert-warning" role="alert">
      No results found!
    </div>
  </div>
  {% endif %}

{% endblock %}
